body{
    background-color: #dccff4;
}

/* 박스1 */
.box{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* 박스2 */
.box1{
    width: 1500px;
    height: 100%;
}
/* 설문조사 박스 */
.form{
    background-color: white;
    width: 610px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    padding-left: 20px;

    border-top: 10px solid rgb(177, 72, 177);
    border-radius: 10px 10px 10px 10px;
}
/* 이름, 이메일 박스 */
.id{
    background-color: white;
    width: 600px;
    height: 90px;

    align-items: center;
    margin: auto;
    margin-top: 10px;
    padding-left: 20px;

    border-left: 10px solid blue;
    border-radius: 10px 10px 10px 10px;

    text-align: left;

    font-family: "Playwrite ES Deco Guides", serif;
    font-weight: 400;
    font-style: normal;
}
/* 나이 체크란 */
.age{
    background-color: white;
    width: 600px;
    height: 190px;

    align-items: center;
    margin: auto;
    margin-top: 10px;
    padding-left: 20px;

    border-left: 10px solid blue;
    border-radius: 10px 10px 10px 10px;

    text-align: left;
}
/* 카테고리 설정 */
.cate{
    background-color: white;
    width: 600px;
    height: 30px;

    align-items: center;
    margin: auto;
    margin-top: 10px;
    padding-left: 20px;

    border-left: 10px solid blue;
    border-radius: 10px 10px 10px 10px;

    text-align: left;
}

/* 강의 선택 */
.subject{
    background-color: white;
    width: 600px;
    height: 50px;

    align-items: center;
    margin: auto;
    margin-top: 10px;
    padding-left: 20px;

    border-left: 10px solid blue;
    border-radius: 10px 10px 10px 10px;

    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    text-align: left;
}
/* 하고싶은말 */
.textarea{
    background-color: white;
    width: 600px;
    height: 150px;

    align-items: center;
    margin: auto;
    margin-top: 10px;
    padding-left: 20px;

    border-left: 10px solid blue;
    border-radius: 10px 10px 10px 10px;
}
/* 제출버튼  */
.button{
    width: 30x;
    height: 25px;
    background-color: #633FB0;
    color: white;

    margin-top: 10px;
    
    border-radius: 10px 10px 10px 10px;
    justify-content: center;
    margin: auto;
}
.button:hover{
    cursor: pointer;
}
/* 버튼 활성화 되면 투명해짐 */
.button:active{
    opacity: 60%;
}
