.box{
    width: auto;
    height: 200px;
    display: flex;
    background-color:beige;
    justify-content: center;
    /* align-items: center;   */
}

.box2{
    width: 200px;
    height: 200px;
    background-color: navy;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}