body{
    width: auto;
    height: auto;
}
.header{
    text-align: center;
}

.b1{
    background-color: gray;
    display: flex;
    justify-content: space-between;
}
.box{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.b2{
    background-color: gray;
    display: flex;
    justify-content: space-between;
}
.b3{
    background-color: gray;
    display: flex;
    justify-content: space-between;
}
.box1{
    display: flex;
    justify-content: space-around;
    width: 200px;
}
.b4{
    background-color: pink;
    display: flex;
    color: white;
    justify-content: center;
    height: 12px;
    font-size: 10px;
}
.b5{
    margin-top: 10px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
}
.box2{
    display: flex;
    width: 280px;
    justify-content: space-between;
}
.box3{
    display: flex;
    width: 150px;
    justify-content: space-between;
}



