.b1{
    position: fixed;
    width: 100%;
    background-color: black;
    top: 50px;
    height: 100px;
}
.b2{
    width: 400px;
    height: 400px;
    background-color: red;
}
.b3{
    width: 600px;
    height: 800px;
    background-color: blue;

}