h1:hover{
    color: red;
} 

a:active{
    background-color: blue;
}

a:hover{
    color: blue;
    background-color: black;
}

input:focus{
    background-color: orange;
}

.one{
    color: blue;
}

.two{
    color: red;
}
.one:hover{
    cursor: pointer;
    color: red;
}

.two:hover{
    cursor: pointer;
    color: blue;
}
